[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "VkLayer_profiler_layer/profiler/farmhash"]
	path = VkLayer_profiler_layer/profiler/farmhash
	url = https://github.com/google/farmhash
[submodule "VkLayer_profiler_layer/profiler_overlay/imgui"]
	path = VkLayer_profiler_layer/profiler_overlay/imgui
	url = https://github.com/ocornut/imgui
[submodule "VkLayer_profiler_layer/profiler/intel/metrics-discovery"]
	path = VkLayer_profiler_layer/profiler/intel/metrics-discovery
	url = https://github.com/intel/metrics-discovery
[submodule "VkLayer_profiler_layer/profiler_tests/googletest"]
	path = VkLayer_profiler_layer/profiler_tests/googletest
	url = https://github.com/google/googletest
[submodule "VkLayer_profiler_layer/profiler_helpers/fmt"]
	path = VkLayer_profiler_layer/profiler_helpers/fmt
	url = https://github.com/fmtlib/fmt
[submodule "SPIRV-Tools"]
	path = SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "SPIRV-Headers"]
	path = SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "VkLayer_profiler_layer/profiler_overlay/external/ImGuiColorTextEdit"]
	path = VkLayer_profiler_layer/profiler_overlay/external/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json
