[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "Sample/glm"]
	path = Sample/glm
	url = https://github.com/g-truc/glm
[submodule "Sample/SDL"]
	path = Sample/SDL
	url = https://github.com/SDL-mirror/SDL
