[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "Sample/glm"]
	path = Sample/glm
	url = https://github.com/g-truc/glm
[submodule "Sample/SDL"]
	path = Sample/SDL
	url = https://github.com/SDL-mirror/SDL
[submodule "Vulkan-Loader"]
	path = Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader
[submodule "VkLayer_profiler_layer/profiler/farmhash"]
	path = VkLayer_profiler_layer/profiler/farmhash
	url = https://github.com/google/farmhash
[submodule "farmhash"]
	path = farmhash
	url = https://github.com/google/farmhash
[submodule "Dep/farmhash"]
	path = Dep/farmhash
	url = https://github.com/google/farmhash
[submodule "VkLayer_profiler_layer/profiler/imgui"]
	path = VkLayer_profiler_layer/profiler_output/imgui
	url = https://github.com/ocornut/imgui
[submodule "VkLayer_profiler_layer/profiler/intel/metrics-discovery"]
	path = VkLayer_profiler_layer/profiler/intel/metrics-discovery
	url = https://github.com/intel/metrics-discovery
